<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monopoly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver android:name="com.example.controllers.DatabaseReceiver">
            <intent-filter>
                <action android:name="Bentley.action.GOSERVICE" />
            </intent-filter>                      
            
            <intent-filter>
                <action android:name="Bentley.action.POPULATELISTVIEW" />
            </intent-filter>   
            
            <intent-filter>
                <action android:name="Bentley.action.MAKEGAME" />
            </intent-filter>   
        </receiver>
        
        <activity
            android:name="com.example.monopoly.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.monopoly.WelcomeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.monopoly.LobbyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.CreateHostActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.FindHostActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.NewLoadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.SaveGameActivity"
            android:label="@string/title_activity_loading"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.PopupActivity"
            android:label="@string/title_activity_popup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.UpgradeActivity"
            android:label="@string/title_activity_popup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.DecisionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.CommandCardActivity"
            android:label="Command Card"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.monopoly.MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.monopoly.TabHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TabStatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TabInteractActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TabPropertiesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TabTurnActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TurnActivity"
            android:label="@string/title_activity_turn"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.TradeActivity"
            android:label="@string/title_activity_trade"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.monopoly.DataLoadingActivity"
            android:label="@string/title_activity_data_loading"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>